<!DOCTYPE html>
<html lang="en" ng-app="MakerMixer">
  <head>
    <meta charset="utf-8">
    <title>Makers Mix</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/makerMixerController.js"></script>
  </head>
  <body ng-controller="MakerMixerController as listCtrl">
    <footer>
      <form class="form-horizontal">
<!--         <input type="text" name="nameOfPerson" placeholder="Enter name">
        <p> Has Paired With?</p> <input type="checkbox" name="hasPairedWith">
        <p> On Blacklist?</p> <input type="checkbox" name="isblackList">
        <p>
        <input type="text" name="numberOfCommits"placeholder="Number of Commits">
        <p>
        <button class="btn" ng-click="listCtrl.addMaker()">Add Maker</button> -->
        <button class="btn" ng-click="listCtrl.importList()">Import List</button>
      </form>
      <ul class="list-group">
          <li class="list-group-item">
            <table>
              <tr><td>Name</td><td>Paired?</td><td>Black List?</td><td>Commits</td></tr>
            </table>
          </li>
          <li class="list-group-item">
            <table>
              <tr><td>Nadav Rosenberg</td><td>Yes</td><td>No</td><td>280</td></tr>
            </table>
          </li>
          <li class="list-group-item">
            <table>
              <tr><td>Edmund O'Brien</td><td>No</td><td>Yes</td><td>174</td></tr>
            </table>
          </li>
          <li class="list-group-item">
            <table>
              <tr><td>Sammy Abukmeil</td><td>Yes</td><td>No</td><td>12</td></tr>
            </table>
          <li>
        </table> 
      </ul>
    </div>
  </body>
</html>